<div class="center jumbotron" >
  
<h1>Behind Heed the Herd</h1>
<p>This site began as a simple way to make sure that Nicole Radford's horses were taken care of while she was living in Utah and had to leave her horses behind in Virginia. Along the way the site grew to encompass more and more features as each member of the team brought new ideas to the table. 
</p>
<center>
<table>
  <thead>
    <tr>
      <td>
        <h3>The site now uses:</h3>
      </td>
    <tr>
  </thead>
  <tbody>
    <td>
      <li>devise</li>
      <li>paperclip</li>
      <li>delayed_job_active_record</li>
      <li>httparty</li>
      <li>delayed_job_recurring</li>
      <li>delayed_job_web</li>
    </td>
    <td>
      <li>aws-sdk</li>
      <li>rspec-rails</li> 
      <li>pry-byebug</li>
      <li>letter_opener</li>
      <li>dotenv-rails</li>
      <li>World Weather Online API</li>
    </td>
  </tbody>
</table>
</center>



<section>
<div class="column-left" >
  
<%= image_tag("ariana.jpg", :alt => "Ariana's Picture", :size => "300x300") %>
  <h2>Ariana Dorado</h2>
    <div>When I first brought my cat home from the humane society she was a mangy, pitiful animal. It cost a lot to adopt her: forty dollars. And then I had to buy litter, a litterbox, food, and dishes for her to eat out of. Two days after she came home with me she got taken to the pound by the animal warden. There's a leash law for cats in Fort Collins. If they're not in your yard they have to be on a leash. Anyway, my cat is my best friend. I'm glad I got her. She sleeps under the covers with me when it's cold. Sometimes she meows a lot in the middle of the night and wakes me up, though. (unfocused)</div>
      <p> Email:</p>
    <p><a href="">Github</a></p>  </div>

<div class="column-center" >
  <%= image_tag("nicole.jpg", :alt => "Nicole's Picture", :size => "300x300") %>
  <h2>Nicole Radford </h2>
  <div>Nicole started at dev point labs with a passion for learning to create something new. she enjoys the challenge of acquiring new skills. Her favorite part of development is that amazing feeling you get when you have spent two days working on something and it finally does exactly what it needs too. When not working on code, she enjoys playing video games, riding horses, and traveling the world.  </div>
    <p> Email:  nradford0171@gmail.com</p>
   <p><a href="https://github.com/nradford01">Github</a></p>

  </div>

  <div class="column-right" >
    <%= image_tag("Ruben.png", :alt => "Ruben's Picture", :size => "300x300") %>
    <h2>Ruben Sanchez</h2>
    <div>The stars are tiny points of light in the space. On a clear night we can see around 2,000 to 3,000 stars without using a telescope. Stars look tiny in the sky because they are far away from the Earth. In ancient times the sky watchers found patterns of stars in the sky.These astronauts Neil Armstrong and patterns of people and the creatures from the myths and the legends. As the Earth spins from east to west the stars also appear to cross from east to west. The stars are made up of gases.</div>
    <p> Email:</p>
    <p><a href="">Github</a></p>
  </div>
</section>

</div>
<a href="http://www.devpointlabs.com/">DevPoint Labs</a>


