<div class="center jumbotron" >
  <h1>Behind Heed the Herd</h1>
  <p>This site began as a simple way to make sure that Nicole Radford's horses were taken care of while she was living in Utah and had to leave her horses behind in Virginia. Along the way the site grew to encompass more and more features as each member of the team brought new ideas to the table. 
  </p>
  <center>
    <table>
      <thead>
        <tr>
          <td>
            <h3>The site now uses:</h3>
          </td>
        <tr>
      </thead>
      <tbody>
        <td>
          <li>devise</li>
          <li>paperclip</li>
          <li>delayed_job_active_record</li>
          <li>httparty</li>
          <li>delayed_job_recurring</li>
          <li>delayed_job_web</li>
        </td>
        <td>
          <li>aws-sdk</li>
          <li>rspec-rails</li> 
          <li>pry-byebug</li>
          <li>letter_opener</li>
          <li>dotenv-rails</li>
          <li>World Weather Online API</li>
        </td>
      </tbody>
    </table>
  </center>

  <section>
  <div class="column-left" >
    
  <%= image_tag("ariana2.jpg", :alt => "Ariana's Picture", :size => "300x300") %>
    <h2>Ariana Dorado</h2>
      <div>Ariana is from the small town of West Wendover (an hour and a half away from Salt Lake City). Ariana started coding in 2013 and has enjoyed it ever since. What she enjoys most about coding is being able to right a few lines of code and see it come alive in a browser. When she is not coding she likes to scrapbook. </div>
      </div>

  <div class="column-center" >
    <%= image_tag("nicole.jpg", :alt => "Nicole's Picture", :size => "300x300") %>
    <h2>Nicole Radford </h2>
    <div>Nicole started at dev point labs with a passion for learning to create something new. she enjoys the challenge of acquiring new skills. Her favorite part of development is that amazing feeling you get when you have spent two days working on something and it finally does exactly what it needs too. When not working on code, she enjoys playing video games, riding horses, and traveling the world.  </div>
    </div>

    <div class="column-right" >
      <%= image_tag("Ruben.png", :alt => "Ruben's Picture", :size => "300x300") %>
      <h2>Ruben Sanchez</h2>
      <div>His passion with computers drove him to join DevPoint Labs and develop the skill necessary for a bright new future. Planning to use those new kills to continue to learn and eventually lead him to career with computer games. </div>
    </div>
  </section>

  <section>
  <div class="column-left" >
        <a href="mailto:dorado_ariana@yahoo.com">Email Ariana</a>
      <p><a href="https://github.com/arianadorado" target="_blank">Github</a></p>  </div>

  <div class="column-center" >
      <a href="mailto:nradford0171@gmail.com">Email Nicole</a>
     <p><a href="https://github.com/nradford01" target="_blank">Github</a></p>

    </div>

    <div class="column-right" >
      <a href="mailto:rfv3@yahoo.com">Email Ruben</a>
      <p><a href="https://github.com/Ruben-San" target="_blank">Github</a></p>
    </div>
  </section>

</div>      

  