<div class="center jumbotron" >
  <h1> Welcome to Heed the Herd</h1>
  <h3>Making sure your horses dont die since 2015!<h3>
      <h3><%= link_to "Sign up", new_user_registration_path, class: "btn btn-default"%> 
      <%= link_to "Sign in", new_user_session_path, class: "btn btn-default"%></h3>
     <div id="cover-all"></div>
</div>  

 