<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <style type="text/CSS">
        body {
            background: white; 
            color:#463334; 
            font-family:Arial, Helvetica, sans-serif; 
            font-size:12px;

          }
          .container {
            background: #EBE7E4;
            padding: 20px;
          }
          .logo {
            width: 100%;
            padding-bottom: 20px;
            padding-left: 10px;
          }
          .rainimage {
            text-align: center;
          }
          .col-xs-8.col-sm-9 {
            height: 100%;            
          }
          .col-xs-8.col-sm-12 {
            text-align: center;
          }
          img {
            max-width: 100%;
          }
      </style>
  </head>
    <body>
      <div class="container">
        <div class="row">

<!--           <div class="logo">
            <%= image_tag("heed_the_herd_logo.png") %>
          </div> -->
              
          <div class="col-xs-8 col-sm-9">
            <h4> It looks like there is a chance of rain. It might be a good time to go out and blanket your horse(s).</h4>
          </div>

          <div class="col-xs-8 col-sm-12">
            <a href="http://heedtheherd.herokuapp.com/" target="_blank" class="btn btn-default">Go to Heed the Herd</a>
          </div>

        </div>
      </div>
    </body> 
</html>