<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <style type="text/CSS">
        body {
            background: white; 
            color:#463334; 
            font-family:Arial, Helvetica, sans-serif; 
            font-size:12px;

          }
          .container {
            background: #EBE7E4;
            padding: 20px;
          }
          .logo {
            width: 100%;
            padding-bottom: 20px;
            padding-left: 10px;
          }
          .welcomeimage {
            text-align: center;
          }
          .col-xs-8.col-sm-9 {
            height: 100%;            
          }
          .col-xs-8.col-sm-12 {
            text-align: center;
          }
          img {
            max-width: 100%;
          }
      </style>
  </head>
    <body>
      <div class="container">
        <div class="row">

<!--           <div class="logo">
            <%= image_tag("heed_the_herd_logo.png") %>
          </div>
              
          <div class="welcomeimage">
            <%= image_tag("indeximage.jpg") %>
          </div> -->


          <div class="col-xs-8 col-sm-9">
            <h1>Welcome to Heed the Herd, </h1>
            <h4> You will now be able to keep track of the different appointments that each of your horses is scheduled for. You will also be notified a week before an appointment due date.</h4>
            <h4> You will be notified when there is a chance of rain so you can go out and blanket any of your horses.</h4>
            <h4> You can also keep track of your horse's weight with the line chart. </h4>
          </div>

          <div class="col-xs-8 col-sm-12">
            <a href="http://heedtheherd.herokuapp.com/" target="_blank" class="btn btn-default">Go to Heed the Herd</a>
          </div>

        </div>
      </div>
    </body> 
</html>