<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

HTTParty.get("http://api.worldweatheronline.com/free/v2/weather.ashx?q=London&format=json&num_of_days=1&tp=24&key=31f6ddb631ced9c600aad9ab924d7")