<div class="row">
  <table class="table">
    <% @horse.horse_weights.each do|weight| %>
    <tr>
    <td> <%= weight.weight %> </td>
    <td> <%= weight.created_at %></td>
    <td> <%= link_to 'Delete', weight, data: { confirm: "Are you sure you wish to delete this horse?" }, 
                                                         method: :delete, class: "btn btn-default" %> </td>
    </tr>
  <% end %>
</div>


