@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
// @import url(https://fonts.googleapis.com/css?family=Walter+Turncoat);

body {
    background:#EAE7E5;
    color: #3E363C;
  }

#background {
  background-image: url(/assets/indeximage2.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 0px;
  background-color: #EAE7E5;
  color: black;
  background-position: center 0px;
  }

.text {
    font-size: 24px;
    color: #EAE7E5;
}


  @media only screen 
  and (min-width : 300px)
  and (max-width : 500px) {

   .text {
    font-size: 15px;
   }

}

    @media only screen 
    and (min-width : 500px)
    and (max-width : 800px) {

       .text {
        font-size: 10px;
       }

    }  
#cover-all {
  // background: url(/assets/indeximage.jpg); 
  width: 100%;
  height: 150px;
  overflow: hidden;
  // background-repeat: no-repeat;
  // background-position: center;
  // padding: 10px;
  // margin: 10px;
}

.jumbotron {
  text-align: center;
  padding: 5px;
  margin: 5px;

}

.pull-left {
  float: left !important;
}

.tasks {
  color: #6E4D51;
}

  h1 {
    font-family: 'Walter Turncoat', cursive;
    font-size: 24px; 
    font-size: 2.4em; 
    font-weight: 400;
  }
  
  h2 {
    font-family: 'Walter Turncoat', cursive;
    font-weight: 400;
  }

/* navbar */
.navbar-default {
    background: rgba(110, 77, 81, 0.9);
    border: #CEBCB9;
    border-radius: 0;
}
/* title */
.navbar-default .navbar-brand {
    color: #CEBCB9;
/* title hover */
} 
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #EAE7E5; 
}
/* Other link */
.navbar-default .navbar-nav > li > a {
    color: #CEBCB9;
}
/* Other link hover */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #EAE7E5;
}
/* Active link */
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    background: rgba(110, 77, 81, 0.8);
    color: #CEBCB9;
}
/* Drop down link */
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #EAE7E5;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777; /* Drop down menu arrow */
    border-bottom-color: #777;
    background-color: #EAE7E5; /* Drop down menu around arrow */
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333; /* Drop down menu arrow hover*/
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555; /* Drop down menu arrow active*/
    border-bottom-color: #555;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #CEBCB9;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CEBCB9;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}

.navbar-brand {
  height: 90px;
  padding: 0px;
  margin: 0px;
}

/* Links */
/* unvisited link */
a:link {
    color: #6E4D51;
}

/* visited link */
a:visited {
    color: #6E4D51;
}

/* mouse over link */
a:hover {
    color: #CEBCB9;
}

/* selected link */
a:active {
    color: #777;
}

/* About Page */
.row1{ 
  display: table-row;
}
.list-left{
  float: left;
}
.list-right{
  float: right; 
}
.column-left{ 
  float: left;
  width: 31%; 
  margin: 1%; 
  margin-top: 30px;
}
.column-right{ 
  float: right; 
  width: 31%; 
  margin: 1%; 
  margin-top: 30px;
}
.column-center{
 display: inline-block; 
 width: 31%; 
 margin: 1%; 
 margin-top: 30px;
}

img {
  width: 100%; 
  height: auto;
}
 #test{
  width: 300px;
 } 
 #contact{
  width: 500px;
 }