<style type="text/CSS">
body {
  height: 100%;
}
#footer {
  height: 60px;
  margin-top: 70px;
  padding-top: 20px;
  background-color: #eeeeee;
}
/* Links */
/* unvisited link */
a:link {
    color: #6E4D51;
}

/* visited link */
a:visited {
    color: #6E4D51;
}

/* mouse over link */
a:hover {
    color: #CEBCB9;
}

/* selected link */
a:active {
    color: #777;
  }
</style>

<body>
    <div class="container">
      <div align="center">
        <a href="/">Home</a> | <a href="/about">About</a> | <a href="/contact">Contact</a> | <a href="http://www.devpointlabs.com/" target="_blank">DevPoint Labs</a>
      </div><br>
    </div>
</body>
