<style type="text/CSS">
body {
  height: 100%;
}
#footer {
  height: 60px;
  margin-top: 70px;
  padding-top: 20px;
}
</style>

<body>
  <div id="footer">
    <div class="container">
      <div align="center">
        <a href="/">Home</a> | <a href="/about">About</a> | <a href="/contact">Contact</a> | <a href="http://www.devpointlabs.com/" target="_blank">DevPoint Labs</a>
      </div><br>
    </div>
  </div>
</body>
